<footer class="site-footer">
  <div class="container">
    {% block footer_content %}
    <div class="row row1">
       	<div class="foot-block">
         <div class="span4 col1">
<div class="thumbnail-style">
                            <a href="http://www.uni-muenster.de/en/" target="_blank"><img alt="" src="assets/img/logo_wwmu.jpg" class="img-responsive mytooltip" data-toggle="tooltip" data-placement="top" title="Westfälische Wilhelms - Universität Münster" /></a>
                        </div>
</div>
      </div>
<div class="foot-block">        
<div class="span4 col2">

 <div class="thumbnail-style">
                            <a href="http://www.novaims.unl.pt/index.asp" target="_blank"><img alt="" src="assets/img/logo_unl.jpg" class="img-responsive mytooltip" data-toggle="tooltip" data-placement="top" title="Universidade Nova de Lisboa" /></a>
                        </div>
      </div>
       </div>
<div class="foot-block">
      <div class="span4 col3">
                        <div class="thumbnail-style">
                            <a href="http://www.uji.es/UK/basic/&AMP;url=/CA/" target="_blank"><img alt="" src="assets/img/logo_uji.jpg" class="img-responsive mytooltip" data-toggle="tooltip" data-placement="top" title="Universitat Jaume I" /></a>
                        </div>
          {% block footer_attribution %}
          <p>{% trans %}<strong>Powered by</strong> <a class="hide-text ckan-footer-logo" href="http://ckan.org">CKAN</a>{% endtrans %}</p>
        {% endblock %}
       </div>
      </div>
        
      
    </div>
    {% endblock %}
  </div>

  {% block footer_debug %}
    {% if g.debug %}
      {% include 'snippets/debug.html' %}
    {% endif %}
  {% endblock %}
</footer>
